@{
    ViewData["Title"] = "Home Page";
}
<br />
<br />
<br />
<div class="text-center">

    <p>L'ATP Tour est le principal circuit international de tennis masculin. Son équivalent féminin est le WTA Tour. Organisé par l'Association of Tennis</p>
    <img src="~/css/logo.png" style=" border-radius: 8px;" width=" 300" height="300" />
</div>